<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950899399586-3l82an4rk1hnqd5obrjbc29bu3veac03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950899399586-3l82an4rk1hnqd5obrjbc29bu3veac03</string>
	<key>API_KEY</key>
	<string>AIzaSyCbALEA7nBAL-Pxg-snSn7N0DzDb6HyC-A</string>
	<key>GCM_SENDER_ID</key>
	<string>950899399586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.yoichiyy.herbooks</string>
	<key>PROJECT_ID</key>
	<string>herbooks-5894b</string>
	<key>STORAGE_BUCKET</key>
	<string>herbooks-5894b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950899399586:ios:05dc48c027b2e76632b0fb</string>
</dict>
</plist>