<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613706397793-cvlj98mehc47hkdj36uu35n6bqvqvdpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613706397793-cvlj98mehc47hkdj36uu35n6bqvqvdpo</string>
	<key>API_KEY</key>
	<string>AIzaSyB3UATKOv9LXhLB6W5zXtGdEIRV5gZEHno</string>
	<key>GCM_SENDER_ID</key>
	<string>613706397793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoichiyy.herbooks</string>
	<key>PROJECT_ID</key>
	<string>haruehon-c8837</string>
	<key>STORAGE_BUCKET</key>
	<string>haruehon-c8837.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613706397793:ios:8dfd63b07bf85e67d35220</string>
</dict>
</plist>